/*利用規約*/
.Terms{
    margin: 4em;
    padding: 20px;
    background-color: #FFF;
}
.TermsTop{
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.TermsText{
    margin: 3em;
}
.TermsTreaty{
    font-weight: bold;
}

/*プライバシーポリシー*/
.Privacy{
    margin: 4em;
    padding: 20px;
    background-color: #FFF;
}
.PrivacyTop{
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.PrivacyText{
    margin: 3em;
}
.PrivacyTreaty{
    font-weight: bold;
}