/*スライドショー*/
.slideshow {
	padding-top: 50px;
	
	width: 500px;
	position: relative;
	overflow: hidden;
}
input[name="slideshow"] {
	display: none;
}
 
/* :::::: slideContents :::::: */
.slideContents {
	padding-top: 50px;
	display: flex; 
	position: relative;
	width: 500%;
	height:300px;
	background: lightSeaGreen;
	text-align: center;
	-webkit-user-select: none;
	user-select: none;
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.slideContents section {
	width: 20%;
}
.slideContents section img {
	max-width: 100%;
	padding: 0 50px;
	box-sizing: border-box;
	vertical-align: middle;
}

/* :::::: arrows :::::: */
.arrow,
.arrow label,
.arrow .ico {
	position: absolute;
}
.arrow {
	top: 50px;
	margin: 0;
	transition: background .3s;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}
.arrow:hover {
	background: rgba(255,255,255,.2);
}
.arrow,
.arrow label {
	cursor: pointer;
	width: 50px;
	height: 100%;
}
.arrow label {
	top: 0;
	left: 0;
	z-index: 1;
}
.arrow .ico {
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	border-top: 3px solid #fff;
	opacity: 0;
}
.prev .ico {
	left: 50%;
	border-left: 3px solid #fff;
	transform: rotate(-45deg);
	transition: left .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.next .ico {
	right: 50%;
	border-right: 3px solid #fff;
	transform: rotate(45deg);
	transition: right .3s cubic-bezier(0.215, 0.61, 0.355, 1), opacity .3s;
}
.arrow:hover .ico {
	opacity: .6;
}
.prev:hover .ico {
	left: calc(50% - 6px);
}
.next:hover .ico {
	right: calc(50% - 6px);
}

/* :::::: mechanism :::::: */
#switch1:checked ~ .slideContents {
	transform: translateX(0);
}
#switch2:checked ~ .slideContents {
	transform: translateX(-20%);
}
#switch3:checked ~ .slideContents {
	transform: translateX(-40%);
}
#switch4:checked ~ .slideContents {
	transform: translateX(-60%);
}
#switch5:checked ~ .slideContents {
	transform: translateX(-80%);
}

/* :::::: arrow mechanism :::::: */
.arrow label {
	pointer-events: none;
}
#switch1:checked ~ .prev label[for="switch5"],
#switch2:checked ~ .prev label[for="switch1"],
#switch3:checked ~ .prev label[for="switch2"],
#switch4:checked ~ .prev label[for="switch3"],
#switch5:checked ~ .prev label[for="switch4"],
#switch1:checked ~ .next label[for="switch2"],
#switch2:checked ~ .next label[for="switch3"],
#switch3:checked ~ .next label[for="switch4"],
#switch4:checked ~ .next label[for="switch5"],
#switch5:checked ~ .next label[for="switch1"] {
	pointer-events: auto;
}



/*アイコン横並びスクロール*/
.horizontal_scroll {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
	padding: 0 0 12px 8px;
	width: 300px;
	max-width: 100%;
  display: -ms-flexbox;
  display: flex; }

/* 画面幅が768px以上の場合、横スクロールを解除 */
@media screen and (min-width: 768px) {
  .horizontal_scroll {
    overflow-x: inherit;
    padding: 0 8px 6px; } }

.horizontal_scroll > li {
  width: 100%;
  min-width: 140px; }

@media screen and (min-width: 768px) {
  .horizontal_scroll > li {
    min-width: inherit; } }

.horizontal_scroll > li:not(:last-child) {
  margin-right: 5px; }

.horizontal_scroll > li:last-child {
  padding-right: 5px; }

@media screen and (min-width: 768px) {
  .horizontal_scroll > li:last-child {
    padding-right: 0; } }

.horizontal_scroll img {
  vertical-align: bottom; }

	/* タイトル */
.slider_ttl {
  color: #333;
  text-align: inherit;
  width: 100%;
  height: 20px;
  line-height: 40px;
  padding: 0px;
  margin: 0 0 20px 0;
  background-color: #e5e5e5;
  text-indent: 8px;
  font-size: 16px;
  font-weight: 700;
	box-sizing: border-box; }
	
	/* 順位 */
.rank li {
  counter-increment: rank; }
  .rank li::before {
    content: counter(rank) "位";
    color: #bf0000;
    font-weight: 700;
		line-height: initial; }
		
	/* バンド名 */
.bandname{
  color: #bf0000;
  line-height: 1.65;
  font-size: 13px;
	margin-top: 4px; }
	
	/*称号*/
/*.bandname span::before {
	content: '【殿堂入り】';
	background:0 0;
	color:#000;
 }
*/
.bandname span.rookie::before {
	content: '  ルーキー';
	display: inline-block;
	background:  #bf0000;
	color: #fff ;
	font-size: .45em;
	line-height: 1.25;
	vertical-align: middle;
	box-sizing: border-box;
	padding: .4em .4em; }

/*字の大きさ*/
.bandname small {
	font-size: .45em;
	color: #000;
	margin-right: .5em; }

	/* アー写がない人たち */
.aaa {
  background: #ccecff;
  display: block;
  width: 140px;
  height: 140px;
  position: relative; }
  aaa::after {
    content: "近日公開";
    color: #8dd4ff;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }