
* {
    box-sizing: border-box;
 }
 body {
    margin: 0 ;
    padding: 0 ;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    padding-top: 90px;
 }
   /*ヘッダ-----------------------------------------------*/
   header{
    top: 0;/*画面topからの距離*/
    width: 100%;/*サイドの幅*/
    height: 100px;/*ヘッダの上下幅*/
    background-color: white;/*色*/
 
    position: fixed;/*ヘッダ固定*/
    display: flex;/*header直下の子要素のレイアウトをコントロール*/
    align-items :center; /*要素の縦方向の位置　center＝中心*/
    z-index: 9999;
   
   }
   /*ulのマネージ*/
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 70px;
        margin-inline-end: 70px;
        padding-inline-start: 0px;
    }
 

    /*1ul・liリストタグの見た目*/
    .o nav{
        margin: 0 0 0 20ex;

    }
    .header_list1 {
        list-style:none;
        overflow: hidden;
    }
    .header_list1 li{
       
        width:140px;
        text-align: center;
        float: left;

    }
    .header_list1 a{
        text-decoration: none;
        font-weight: bold;
    }
     /*2ul・liリストタグの見た目*/
    .header_list2 {
        list-style:none;
        overflow: hidden;
        display: table;
    }
   
    .header_list2 li{
        margin: 0;
        width:100px;
        text-align: center;
        float: left;
    

    }
    .header_list2 a{
        text-decoration: none;
        font-weight: bold;
    }
    
   
    .header_logo {
        text-align: center;
        
    }

    /*検索バー*/
    .search_container{
        position: relative;
        box-sizing: border-box;
        border: 2px solid #3879D9;
        padding: 3px 3px;
        border-radius: 3px;
        height: 2.3em;
        width: 300px;
        overflow: hidden;
      }
      .search_container input[type="text"]{
        border: none;
        height: 2.0em;
      }
      .search_container input[type="text"]:focus {
        outline: 0;
      }
      .search_container input[type="submit"]{
        cursor: pointer;
        font-family: FontAwesome;
        border: none;
        background: #3879D9;
        color: #fff;
        position: absolute;
        width: 3.0em;
        height: 3.0em;
        right:0px;
        top: -5px;
        outline : none;
      }














html,body{
    position: relative;
    margin:0;padding:0;
}

footer{
    background-color: white;
    height: 160px;
    width: 100%;
}

/*ロゴ*/
.footer-logo{
    float: left;
    padding: 30px 40px;
}

.footer-logo img{
    width: 286px;
    height: 58px;
}

/*about*/
.about-list{
    float: right;
    padding: 25px 80px;
}

.about-list li{
    list-style: none;
}

.about-list a{
    color: #808080;
    text-decoration: none;
}

.about-list a:hover{
    text-decoration: underline;
}

/*ログインもろもろ*/
.login-list{
    float: right;
    padding: 30px 60px;
}

.login-list li{
    list-style: none;
}

.login-list a{
    color: #808080;
    text-decoration: none;
}

.login-list a:hover{
    text-decoration: underline;
}

small{
    position: absolute;
    bottom: 0; left: 50%;
}