* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #e6e6e6;
    padding-top: 80px;
}
   /*ヘッダ-----------------------------------------------*/
   header{
    top: 0;/*画面topからの距離*/
    width: 100%;/*サイドの幅*/
    height: 90px;/*ヘッダの上下幅*/
    background-color: rgb(255, 228, 188);/*色*/
    padding: 10px 4% 10px;/*ヘッダの内側の余白 上　左　下　右*/
    position: fixed;/*ヘッダ固定*/
    display: flex;/*header直下の子要素のレイアウトをコントロール*/
    align-items :center; /*要素の縦方向の位置　center＝中心*/
    z-index: 9999;
    }
    /*タイトルの調整*/
    
  #form1{
      position:relative; /*相対位置指定*/
      margin-bottom:0;	/*余白指定無し*/
      }
      #sbox1{	
      outline:0;	
      padding:0 10px; 
      position:relative; 
      left:0;
      top:0; 
      width:15vw;
      border-radius:2px;
      background:#eee;
      }
      #sbtn1{
      width:50px;
      position:relative; 
      left:2px; 
      top:0;
      border-radius:2px;
      background:#7fbfff;
      color:#fff;
      font-weight:bold;
      font-size:auto;
      border:none;
      }
      #sbtn1:hover{
      background:#eee;
      color:#7fbfff;
      }
      /*検索バーの設定*/
    .Title h1{
        /*width: 10%;*/
        height: auto;
        margin: 0; 
        padding: 10px 0 0;
        font-size: 40px;
    }
    .Title h1 a:hover{ color: red;  transition: 1s;}/*マウスによる変化*/
  
    .Title img{
        width: 30vm;
    }
    /*アンダーラインの消去*/
    .nav-1 a{
        text-decoration: none;
        color: #4d4d4d;
    }
    /*ul・liリストタグの見た目*/
    .nav-1 ul{
        list-style: none;
        margin: 0 ;
        display: flex;
    }
    .nav-1 li{
        margin: 0 0 0 18px;
        font-size: auto;
        font-weight: bold;/*文字の太さ*/
    }
    .nav-1 ul a:hover{  text-decoration:underline; transition: 1s;}
    /*ナビ要素の外側の余白右寄せ*/
    .nav-1{
        margin: 0 0 0 auto;
    }

/*ボディ*/
.horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.item {
    /* 横スクロール用 */
    display: inline-block;
    width: 90%;
    /* 見た目調整 */
    height: 200px;
    margin: 16px;
    font-size: 48px;
    background: rgba(255, 0, 0, 0.4);
}
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-bottom:100px;
}
.tab-label {
    color: White;
    background: LightGray;
    margin-right: 1%;
    padding: 3px 12px;
    order: -1;
    width: 24%;
}
.tab-content {
    width: 99%;
    display: none;
    background: white;
    padding-right: 3%;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: DeepSkyBlue;
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

/*フッター-----------------------------------------------*/
footer{
    background-color: #c0c0c0;
    width: 100%;
    position: static;
    bottom: 0;
}

a{
    text-decoration: none;
}

/*ロゴ*/
.footer-logo{
    font-size: 3em;
    padding: 20px 20px;
}

.footer-logo a{
    color: black;
}

/*リスト*/
.footer-list{
    float: left;
    margin-left: 15em;
}

.footer-list li{
    list-style: none;
}

.footer-list a{
    color: #696969;
}

.footer-list a:hover{
    text-decoration: underline;
}

/*リスト２*/
.footer-list2{
    margin-left: 30em;
    margin-bottom: 5em;
}

.footer-list2 li{
    list-style: none;
}

.footer-list2 a{
    color: #696969;
}

.footer-list2 a:hover{
    text-decoration: underline;
}

/*検索窓*/
.wrap{
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    max-width: 800px;
}
img{
    width: 100%;
    height: auto;
    display: block;
}
  
.Box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.Box-SearchInput {
    border-radius: 4px;
    border: none;
    width: 100%;
    height: 55px;
    letter-spacing: 0.1em;
    padding-left: 20px;
    padding-right: 55px;
    background: #fff;
    color: #000;
    font-size: 14px;
}
@media screen and (max-width: 540px) {
    .Box-SearchInput {
      height: 45px;
      padding-right: 45px;
      font-size: 12px;
    }
}
.Box-Btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    padding: 0;
    border: none;
    border-radius: 0 4px 4px 0;
    background: #fff;
    vertical-align: middle;
}
@media screen and (max-width: 540px) {
    .Box-Btn {
      width: 45px;
      height: 45px;
      line-height: 45px;
    }
}
.Box-Btn-Icon {
    margin-left: auto;
    margin-right: auto;
    width: 19px;
    height: 19px;
}

/*twitterアイコン*/
.twitter-icon{
    width: 30px;
    height: 30px;
}